@media (max-width: 750px) {
  @import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap");
  * {
    margin: 0;
    padding: 0;
  }
  body {
    font-family: "Roboto", sans-serif;
    background-color: black;
  }
  body > container {
    padding: var(--padding);
  }
  :root {
    --blue: #02a3f1;
    --green: #7fba00;
    --red: #e74d21;
    --orange: #f25123;
    --section3-gray: rgba(128, 128, 128, 0.367);
    --gray: #8d8d8d;
    --light-gray: #cbcbcb;
    --background-color: #ffffff;
    --margin-x: 80px;
    --padding: 30px 50px;
  }
  ::-webkit-scrollbar {
    width: 0;
  }
  /* start nav */
  nav {
    display: flex;
    align-items: center;
  }
  .nav-icon svg {
    display: block;
    cursor: pointer;
  }
  .nav-list {
    display: none;
  }
  .login button {
    display: none;
  }

  /* end nav */

  /* menu start */
  .menu {
    display: block;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-image: url(/image/background_blur.png);
    background-size: cover;
    top: 0;
    left: 0;
    left: -200%;
    transition: all 1s linear;
  }
  .menu .bar {
    padding: var(--padding);
  }
  .menu .bar .logo {
    display: flex;
    align-items: center;

    color: white;
    gap: 10px;
  }
  .menu .bar .logo-img img {
    width: 50px;
  }
  .menu .bar .logo h1 {
    width: auto;
    font-size: 19px;
  }
  .menu .bar .logo p {
    color: var(--gray);
    width: auto;
    font-size: 16px;
  }
  .menu .bar {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
  }
  .bar .close {
    fill: white;
    width: 25px;
    height: 25px;
  }
  .close:hover {
    cursor: pointer;
  }
  .menu-list {
    padding: var(--padding);
  }
  .menu-list li,
  .menu-list h3 {
    padding-bottom: 25px;
    font-size: 35px;
    font-weight: 500;
  }
  .menu-list ul li {
    list-style: none;
    color: white;
    cursor: pointer;
  }
  .menu .br {
    width: 60%;
    height: 0px;
    margin: 20px 0;
    border: 3px solid var(--orange);
  }
  .menu-list .login {
    color: var(--orange);
    cursor: pointer;
  }
  /* menu end */

  /* start section1 main */
  .section1 {
    padding: var(--padding);
  }
  /* .section1 > main{
    width: 100%;
  } */
  .section1 main .main-img {
    display: none;
    width: 0;
  }
  .section1 .content h1,
  h1 span {
    font-size: 70px;
    width: 600px;
  }
  .search {
    width: 100%;
  }
  /* start people  */
  .people-img {
    width: 100px;
    height: 100px;
  }
  /* end people  */

  /* section 2 start */

  .arrow2-icon {
    width: 30px;
    height: 30px;
  }
  .section2 .view-all {
    font-size: 16px;
    width: 190px;
    height: 50px;
  }
  .section2 h1 {
    font-size: 60px;
  }
  .section2 p {
    font-size: 20px;
  }
  .section2 main {
    display: block;
  }
  .section2 h3 {
    color: white;
  }
  .card-info {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-bottom: 30px;
  }
  .section2 .card {
    margin-bottom: 30px;
    box-shadow: none;
    border: 3px solid var(--gray);
  }

  .section2 .view-card {
    background-color: black;
    box-shadow: none;
    border: 3px solid var(--gray);
  }
  /* section 2 end */

  /* section 3 start */

  .section3 {
    padding: var(--padding);
    padding-bottom: 100px;
  }
  .section3 header {
    text-align: center;
  }
  .section3 h1 {
    font-size: 60px;
  }
  .section3 header p {
    font-size: 25px;
    width: 600px;
  }
  .section3 main {
    display: flex;
    flex-direction: row;
  }
  .section3 main {
    overflow-x: scroll;
  }
  .section3 .card {
    min-width: 300px;
  }

  /* section 3 end*/

  /* footer start */
  .container .summary {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-areas: "box1 box1" "box2 box3" "box4 box4";
  }
  .box1 {
    grid-area: box1;
  }
  .box2 {
    grid-area: box2;
  }
  .box3 {
    grid-area: box3;
  }
  .box4 {
    grid-area: box4;
  }
  /* footer end*/
}
@media (min-width: 751px) and (max-width: 1220px) {
  .section1 .content h1 {
    font-size: 60px;
  }
  .main-img {
    width: 70%;
  }
  .main-img img {
    width: 100%;
  }
  .search {
    height: 40px;
  }
  .people-img {
    width: 20%;
  }
  .people-img img {
    width: 100%;
  }
  .people-rate h2 {
    font-size: 20px;
  }
  .people-rate p {
    font-size: 14px;
  }
  /* section 2 start */
  .section2 main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
  }
  /* section 2 end */
  /* section 3 start */
  .section3 {
    padding: var(--padding);
    padding-bottom: 100px;
  }
  .section3 header {
    text-align: center;
  }
  .section3 h1 {
    font-size: 60px;
  }
  .section3 header p {
    font-size: 25px;
    width: 600px;
  }
  .section3 main {
    display: flex;
    flex-direction: column;
  }
  .section3 .card {
    width: 60%;
  }
  .section3 .check p {
    margin-left: -178px;
  }
  .section3 .circle {
    display: none;
  }
  /* section 3 end */
  /* footer start */
  .container .summary {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-areas: "box1 box1" "box2 box3" "box4 box4";
  }
  .box1 {
    grid-area: box1;
  }
  .box2 {
    grid-area: box2;
  }
  .box3 {
    grid-area: box3;
  }
  .box4 {
    grid-area: box4;
  }
  /* footer end*/
}
